* {
    font-family: "Iosevka Nerd Font Propo";
    font-weight: 500;
    font-size: 16px;
 
    border-radius: 12px;
    text-shadow: none;
 
    transition-property: background;
    transition-duration: 0.2s;
}
 
window#waybar {
    background-color: transparent;
    font-family: inherit;
}
 
window#waybar.hidden  {
    opacity: 0.2;
}

tooltip {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}

tooltip label {
  color: white;
}

.modules-left {
    background-color: rgba(41, 62, 83, 0.8);
    padding: 6px 0px;
}
 
.modules-center {
    background-color: rgba(41, 62, 83, 0.8);
    padding: 6px 0px;
}
 
.modules-right {
    background-color: rgba(41, 62, 83, 0.8);
    padding: 6px 0px;
}

#custom-lock,
#custom-poweroff,
#custom-reboot,
#custom-search,
#custom-hibernate,
#custom-caffeine,
#workspaces button,
#tray,
#backlight,
#battery,
#cpu,
#memory,
#network,
#wireplumber,
#clock 
{
    padding: 4px 0px;
}


#battery { color: #93abbe; }

#clock { color: #ffffff; }

#cpu { color: #FE968B; }

#backlight { color: #FFD700;}

#memory { color: #FFEAAA; }

#wireplumber { color: #b0f5e5; }

#network { color: #8eb1f2; }

#custom-lock { color: #B5E8E0; }

#custom-poweroff { color: #df6a76; }

#custom-reboot { color: #e8c55d; }

#custom-search { color: #ffffff; }

#custom-hibernate { color: #78abdc; }

#custom-caffeine { color: #deb49f; }

#workspaces button.focused { color: #36d792; }
